<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Inventory Spot</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <h1>Day Care Daily Report Chart</h1>

  <h3> Input Inventory </h3>

    <form action="/report" method="POST">
    <input class= "child" type="text" placeholder="child name" name="child" required="true">
    <input class= "behavior" type="text" placeholder="behavior" name="behavior" required="true">
    <input class= "rating" type="number" placeholder="0" name="rating" required="true" >
    <button type="submit">Submit</button>
    </form>

    <ul class="reports">
    <% for(var i=0; i<reports.length; i++) {%>
      <li class="inventory">
        <span class="item"><%=reports[i].child %></span>
        <div>
      <input class= "behavior" data-id="<%= reports[i]._id%>" type="text" value="<%= reports[i].behavior%>" name="behavior" required="true"> 
      <span class="edit" value="<%= reports[i]._id%>"> ✏️ </span> 
    </div>    
    <% for(var s=0; s<reports[i].rating; s++) {%>
        <span class="quantity">⭐️</span>
    <% } %>
        
      </li>
    <% } %>
    </ul>
<button class="clear-all"> Clear All </button>

  <script src="main.js"></script>
  <script src="server.js"></script>

</body>
</html>
